{% extends 'base.html' %}
{% load static %}
{% block projectsactive %}active{% endblock projectsactive %}
{% block title %}projects{% endblock title %}

{% block body %}
   <div class="container my-3">
      <h2 class="text-center"> LIVE PROJECTS COMING SOON ....</h2>
      <div class="row">
        <div class="col md-4">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/todo.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Todo List</h5>
              <p class="card-text">
                In this project you can store your daily tasks
              </p>
              <a href="#" class="btn btn-primary">7 days to go</a>
            </div>
          </div>
        </div>
        <div class="col md-4">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/api.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">twiter daily trend</h5>
              <p class="card-text">
                In this app you can check daily trends around globe.
              </p>
              <a href="#" class="btn btn-primary">Release date 20 may</a>
            </div>
          </div>
        </div>
        <div class="col md-4">
          <div class="card" style="width: 18rem">
            <img
              src="{% static 'img/explorer.jpg' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">EXplorer</h5>
              <p class="card-text">
                This app gonna provide help to tourist who loves to travel and want to get more from their trip.
              </p>
              <a href="#" class="btn btn-primary">work in progres</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
{% endblock body %}
